.link {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  img {
    object-fit: cover;
    object-position: center;
    width: 30vw;
    height: 30vw;
  }
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  color: black;
}
.price {
  font-size: 1.2rem;
  text-align: end;
  color: black;
}
