@use '../../../../styles/colors.scss' as colors;
.button {
  background-color: transparent;
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  min-width: 5rem;
  font-weight: 500;
  border: 2px solid colors.$sand;
  color: colors.$sand;
  transition: 0.5s all;
  text-align: center;
  &:hover {
    background-color: colors.$sand;
    color: white;
    cursor: pointer;
  }
}
