@use '../../../../styles/colors.scss' as colors;
.button,
.disabled {
  background-color: transparent;
  font-size: 1.3rem;
  padding: 0.5rem;
  min-width: 5rem;
  font-weight: 500;
  border: 2px solid colors.$sand;
  color: colors.$sand;
  transition: 0.5s all;
  &:hover {
    background-color: colors.$sand;
    color: white;
    cursor: pointer;
  }
}
.disabled {
  background-color: #a7a7a7;
  border: 2px solid #a7a7a7;
  color: rgb(200, 197, 197);
  pointer-events: none;
}
