@use '../../../styles/colors.scss' as colors;
.container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: colors.$sand;
  display: flex;
  flex-direction: column;
}
.headerBox {
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
}
.listBox {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 85%;
  height: 90vh;
  padding: 3rem 0 3rem 15%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.link {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
  width: 60%;
  padding: 0.5rem;
  border-bottom: 3px solid white;
  transition: all 0.5s;
  &:hover {
    background: white;
    color: colors.$sand;
  }
}
.socjalBox {
  width: 15%;
}
