@use '../../../../styles/colors.scss' as colors;
.button {
  width: 80px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  background: colors.$sand;
  border: 0;
  font-weight: 600;
  img {
    width: 30px;
    height: 30px;
  }
  &:hover {
    cursor: pointer;
  }
}
